

<div class="container">


<h1>ANSWER</h1>


<h2>Question: <%= @user_question %></h2>
<h2>Answer: <%= @coach_answer %></h2>


<%= link_to "Ask a new question", ask_path, class:"btn btn-primary" %>




</div>
