
<div class="container text-center">

<h1>ASK</h1>


<form action="/answer" data-turbo="false">
  <input type="text" name="question" class="form-control" placeholder="Ask your coach something">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>

</div>
